.about-section {
  padding: 80px 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  color:  #E9D127 ;
  margin-bottom: 20px;
  word-spacing: 8px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 15px;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content h2 {
    font-size: 28px;
  }
}
