.cta-section {
  background-image: url("/images/why-chouse-bg.png"); /* Put your background image here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.cta-overlay {
  padding: 100px 20px;
  border-radius: 12px;

}

.cta-content h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 42px;
  margin-bottom: 15px;
}

.cta-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-content button {
  background-color: #E9D127;
  color: #000;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-content button:hover {
  background-color: #d1b719;
}

@media screen and (max-width: 768px) {
  .cta-content h2 {
    font-size: 30px;
  }

  .cta-content p {
    font-size: 16px;
  }
}
