.distribution-grid-section {
      max-width: 1200px;
    margin: 0 auto;
  padding: 70px 20px 0px 20px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.distribution-grid-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.distribution-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.distribution-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

.distribution-content {
  flex: 1;
  min-width: 300px;
}

.distribution-content h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  color: #E9D127 ;
  margin-bottom: 20px;
  word-spacing: 8px;
}

.distribution-content p {
  font-size: 15px;
  color: #444;
  line-height: 1.7;
  margin-bottom: 30px;
}

.distribution-btn {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #E9D127 ;
  color: #E9D127 ;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.distribution-btn:hover {
  background: #6a1b9a;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .distribution-grid-container {
    flex-direction: column;
    text-align: center;
  }

  .distribution-content h2 {
    font-size: 28px;
  }

  .distribution-content p {
    font-size: 14px;
  }
}
