@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

.why-choose-us-section {
        margin: 0 auto;
    max-width: 1200px;

  padding: 80px 20px 70px 20px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.choose-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.choose-left {
  flex: 1;
  min-width: 320px;
}

.choose-heading {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  color: #E9D127;
  line-height: 1.3;
      word-spacing: 8px;
}

.choose-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.choose-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.choose-item h4 {
  font-size: 16px;
  color: #020C4B ;
  font-weight: 600;
  margin: 0;
  transition: color 0.3s ease;
}

.choose-item.active h4 {
  color: var(--thirdColor) ;
}

.choose-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.choose-content p {
  font-size: 14px;
  color: #444;
  margin-top: 10px;
  line-height: 1.6;
}

.choose-right {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.choose-right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .choose-container {
    flex-direction: column;
  }

  .choose-heading {
    font-size: 28px;
    text-align: center;
  }

  .choose-right {
    margin-top: 30px;
  }
}
