@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --forpara: #666;
  --primary: #e9d127;
  --whitelight: #e4e2e2;
  --swiper-pagination-color: #e9d127;
  --swiper-theme-color : #e9d127;
  --secondaryColor: #fc812d;
  --thirdColor: #80b82d;
  --darkblue: #0D1DD5;
  --font-family-heading : Bebas Neue,sans-serif;
  --font-family-para : Poppins, sans-serif;

}
p{
  color: var(--forpara) !important;
  font-size: 14px !important;
  font-family: Poppins, sans-serif !important;
  
}
h2{
    font-size: 2.5rem !important; 
  letter-spacing: 1px !important; 
  word-spacing: 4px !important;   
  color: var(--primary) !important;      
  margin-bottom: 1rem !important;
  font-family: var(--font-family-heading) !important;
  font-weight: 500 !important;

}
h1{
  font-family: var(--font-family-heading) !important;
  font-size: 2.7rem !important; 
  letter-spacing: 1px !important; 
  word-spacing: 4px !important;   
  margin-bottom: 1rem !important;
  font-weight: 500 !important;
  color: var(--primary) !important;      


}
.read-more-button{
  background-color: var(--primary) !important;
  color: #0a0a0a !important;
  padding: 15px !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: 2px solid var(--primary) !important;
  cursor: pointer !important;
  transition: all .3s !important;
  border-radius: 10px !important;
  width: 120px !important;
}
.text-center{
  text-align: center;
}
.read-more-button:hover{
  background-color: transparent !important;
  color: var(--primary) !important;
  border: 2px solid var(--primary) !important; 
  padding: 15px !important;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-para);
}
